//les couleurs
$green-dark:#00e686;
$green-medium:#80ffca;
$green-light:#cdffea;
$blue-light:#cdf2ff;
$blue-medium:#80ddff;
$blue-dark:#00a9e6;
$purple-dark:#003C43;
$sidebarsecond:#135D66;
$sidebarmain:#E3FEF7;
$darkGrey: #828282;
$lightGrey: #d6d6d6;

//les fonts family
$font-family:"Andada Pro", serif;
$lightFont:600;
$heavyFont:800;

//fonts
$logoFont:calc(1.25 * 31.42px)